{% extends 'base.html' %}

{% load static %}
{% block title %}Checkout{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="page-titles">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item">
                            <a href="{% url 'products' %}" class="link"><i class="ri-home-3-line fs-5"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Checkout
                        </li>
                    </ol>
                </nav>
                <h1 class="mb-0 fw-bold">Checkout</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4 class="mb-4">Product Summary</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive mb-4">
                    <table class="table mb-0 align-middle table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total Discount</th>
                                <th scope="col">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in carts %}
                            <tr>
                                <td width="300">
                                    <div class="d-md-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="{{i.item.image.url}}" alt="product" class="img-fluid"
                                                width="60" />
                                        </div>
                                        <div class="ms-0 ms-md-3">
                                            <h4>{{i.item.name}}</h4>
                                            <h6 class="fw-normal text-success">
                                                ({{i.item.discount_percentage}}% off)
                                            </h6>
                                        </div>
                                    </div>
                                </td>
                                <td>&#8377;{{i.item.rate}}/-</td>
                                <td>&#8377;{{i.item.discount_price}}/-</td>
                                <td>&#8377;{{i.item.price}}/-</td>
                                <td>{{i.quantity}}</td>
                                <td>&#8377;{{i.discount_price}}/-</td>
                                <td>&#8377;{{i.total_price}}/-</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="fw-bold text-dark" align="right">
                                    Total Amount
                                </td>
                                <td class="fw-bold text-dark">&#8377;{{total_price}}/-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}