{% extends 'base.html' %}

{% load static %}
{% block title %}Production{% endblock %}

{% block content %}
<div class="page-wrapper bg-img">
    <div class="page-titles">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item">
                            <a href="{% url 'products' %}" class="link"><i class="ri-home-3-line fs-5"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Production
                        </li>
                    </ol>
                </nav>
                <h1 class="mb-0 fw-bold">Production</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped display text-nowrap data-table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Cutting</th>
                                        <th>Polishing</th>
                                        <th>Fabrication</th>
                                        <th>Toughening</th>
                                        <th>DGU</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in productions %}
                                    <tr>
                                        <td>#{{i.id}}</td>
                                        <td>{{i.work_order.item.name}}</td>
                                        <td>{{i.work_order.quantity}}</td>
                                        <td>
                                            <div class="check-btn">
                                                <a href="{% url 'increase_quantity' i.id %}"
                                                    class="btn btn-sm btn-light-secondary text-secondary waves-effect waves-light">
                                                    <i data-feather="plus" class="feather-xs"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{i.status}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}