{% extends 'base.html' %}

{% load static %}
{% block title %}Production{% endblock %}

{% block content %}
<div class="page-wrapper bg-img">
    <div class="page-titles">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item">
                            <a href="{% url 'products' %}" class="link"><i class="ri-home-3-line fs-5"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Production
                        </li>
                    </ol>
                </nav>
                <h1 class="mb-0 fw-bold">Production</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped display text-nowrap data-table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Item</th>
                                        <th>Actual Quantity</th>
                                        <th>Balance Quantity</th>
                                        <th>Produce Quantity</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in productions %}
                                    <tr>
                                        <td>#{{i.id}}</td>
                                        <td>{{i.work_order.item.name}}</td>
                                        <td>{{i.actual_qty}}</td>
                                        <td>{{i.balance_qty}}</td>
                                        <td>{{i.produce_qty}}</td>
                                        <td>{{i.status}}</td>
                                        <td><button class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#productionModal">
                                                <i class="ri-check-fill"></i>
                                            </button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="productionModal" tabindex="-1" role="dialog" aria-labelledby="productionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title text-white">Production</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}