{% extends 'base.html' %}

{% load static %}
{% block title %}Toughening{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="page-titles">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item">
                            <a href="{% url 'products' %}" class="link"><i class="ri-home-3-line fs-5"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Toughening
                        </li>
                    </ol>
                </nav>
                <h1 class="mb-0 fw-bold">Toughening</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">

    </div>
</div>
{% endblock %}